.item{
    margin:1rem auto;
    width:90%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.item-name{
    width:70%;
}

.item button{
    margin:0 0.2rem;
    cursor: pointer;
    padding: 5px;
    border: 1px solid black;
    border-radius:5px ;
    font-size: 1.3rem;
    font-family: 'Pangolin', cursive;
}

.up-button{
    background-color: rgb(247, 247, 107);
}
.up-button:hover{
    box-shadow: 2px 2px 10px rgb(160, 160, 68);
}
.down-button{
    background-color: rgb(59, 226, 255);
}
.down-button:hover{
    box-shadow: 2px 2px 10px rgb(43, 163, 184);
}

.edit-button{
    background-color: cadetblue;
}

.edit-button:hover{
    box-shadow: 2px 3px 10px rgb(78, 129, 131);
}

.close-button{
    background-color: rgb(241, 146, 146);
}

.close-button:hover{
    box-shadow: 2px 3px 10px rgb(172, 105, 105);
}

.item-name:hover{
    background-color: rgb(241, 194, 106);
    color:white;
    box-shadow: 2px 3px 10px rgb(177, 143, 79);
}

.clicked{
    background-color: rgb(241, 194, 106);
    box-shadow: 2px 3px 10px rgb(177, 143, 79);
}
